* {
  font-family: 'Arial', 'Helvetica', 'sans-serif';
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: white;
}

body {
  font-size: 16px;
  line-height: 1.5em;
}

.hidden {
  display: none;
}

.flex {
  display: flex;
}

h1 {
  font-size: 2.0em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.2em;
}

.container {
  background-color: black;
}

.top-nav {
  justify-content: space-between;
  border: 1px solid yellow;
}

.nav-group, .nav-group a {
  text-transform: uppercase;
  text-decoration: none;
}

.bb {
  flex: 1;
  justify-content: flex-start;
  border: 1px solid limegreen;
}

.nav-items {
  flex: 1;
  justify-content: space-around;
  border: 1 px solid aqua;
}

.front-page {
  justify-content: center;
  align-items: center;
}

.front-headline {
  flex-direction: column;
  justify-content: center;
}

.headline-highlight, .headline-text {
  font-size: 2.0em;
  margin: 6px 0 3px 0;
}

.about-img {
  height: 64px;
}

.project-thumbnail {
  height: 128px;
}

.project-img {
  height: 192px;
}





.footer-section {
  justify-content: flex-end;
}

.contact-items {
  width: 25%;
  justify-content: space-around;
  border: 1px solid orange;
}

