* {
  font-family: 'Arial';
}

.hidden {
  display: none;
}

.flex {
  display: flex;
}

body, #container {
  height: 100vh;
  padding: 0;
  margin: 0;
  background: linear-gradient(to bottom right,#4d4d4d, #121212 );
  font-family: 'Arial';
  color: white;
}

#container {
  display: flex;
  flex-direction: column;
}

#nav-container {
  position: fixed;
  width: 100%;
  z-index: 2;
  height: 40px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  border-bottom: 2px solid #6FE8CA;
  background-color: #333333;
  opacity: 1;
}

.bb-logo {
  font-size: 1.5em;
  font-weight: 400;
  text-transform: uppercase;
}

#bb {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 2;
  margin: 0 10px;
}

#bb a {
  text-decoration: none;
  color: #CDCEDC;
}

#nav-items {
  position: absolute;
  right: 0;
  top: 42px;
  flex: 1;
  align-items: flex-start;
  text-transform: uppercase;
  background-color: gray;
  opacity: 0.8;
}

#nav-contact-items {
  width: 175px;
  margin-right: 32px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex: 1.5;
  align-items: center;
}

#nav-contact-items, #nav-contact-items a {
  font-size: 0.9em;
  color: #999;
  font-weight: 600;
}

.nav-link {
  margin: 30px;
  font-size: 1.1em;
}

.nav-link a {
  color: #6FE8CA;
  text-decoration: none;
}

.nav-selected a {
  background: #6FE8CA;
  color: #333;
}

#hamburger {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 28px;
  height: 40px;
  margin-right: 10px;
}

.hamburger-stripe {
  background-color: #6FE8CA;
  width: 100%;
  height: 3px;
  margin: 3px 0 2px 0;
}

#body-container {
  position: relative;
  z-index: 1;
}

.panel {
  min-height: 100%;
  z-index: 1;
  width: 80vw;
  margin: 0 auto;
  padding-top: 75px;
}

#front-headline {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 30vh;
  line-height: 1.2em;
  height: 100%;
  font-size: 2em;
  font-weight: 600;
}

.headline-highlight {
  color: #85FEDE;
  margin-left: 10vw;
}

.headline-body {
  color: #CDCEDC;
  text-align: right;
  margin-right: 10vw;
}

#bio-body {
  margin-top: 20px;
}

#bio-img {
  float: left;
  width: 20%;
  margin: 0 20px 20px 0;
}

#bio-body p {
  margin-bottom: 1.5em;
  font-size: 1.2em;
  line-height: 1.5em;
  color: #999;
}

#bio-body p strong {
  color: #85FEDE;
  font-weight: 600;
}

h1 {
  font-size: 1.5em;
}

.project-container {
  margin-top: 20px;
}

.project-ss {
  height: 120px;
  margin: 10px auto;
}

.project-title {
  color: #85FEDE;
  font-size: 1.2em;
  font-weight: 600;
  margin-bottom: 0.1em;
}

.project-text {
  font-size: 0.9em;
  color: #999;
  line-height: 1.4em;
}

#tech-body {
  display: flex;
  margin-top: 50px;
  flex-direction: row;
  justify-content: space-around;
}

.tech-group li, #contact-list li {
  color: #85FEDE;
  text-decoration: none;
  font-size: 1.5em;
  line-height: 2.0em;
}

#contact-body {
  display: flex;
  justify-content: center;
  margin: 50px auto;
}

@media (min-width: 576px) {
  
  #container {
    display: flex;
    justify-content: row;
  }
  
  .panel {
    width: 70vw;
    margin: 0 auto;
    vertical-align: top;
    padding-top: 50px;
  }

  #nav-container {
    position: fixed;
    display: flex;
    height: 100%;
    width: 18vw;
    margin: 0 2vw;
    justify-content: space-between;
    flex-direction: column;
    background-color: inherit;
  }

  #nav-items {
    position: relative;
    display: flex;
    width: 100%;
    flex: 2;
    background-color: inherit;
  }

  #bb {
    display: flex;
    flex: 1;
    justify-content: flex-start;
    margin-top: 10px;
  }

  .bb-logo:hover {
    color: white;
    font-weight: 600;
  }

  .nav-link {
    margin: 20px 0;
    width: 18vw;
    border-bottom: 2px solid #6FE8CA;
  }

  .nav-link a:hover {
    color: #85FEDE;
    font-weight: 600;
  }

  #nav-contact-items {
    width: 175px;
    margin-right: 32px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex: 1;
    align-items: flex-end;
  }

  #nav-contact-items a:hover {
    font-size: 1.0em;
    color: white;
    font-weight: 600;
  }

  #body-container {
    width: 80vw;
    margin-left: 20vw;
  }

  #hamburger {
    display: none;
  }

  #front-headline {
    margin: 30vh auto 0 auto;
    width: 400px;
  }

  .headline-highlight {
    color: #85FEDE;
    width: 100%;
    margin: 0;
    text-align: left;
  }
  
  .headline-body {
    color: #CDCEDC;
    width: 100%;
    margin: 0;
    text-align: right;
  }

}
