* {
  font-family: 'Arial';
}

body, #container {
  height: 100%;
  background-color: black;
  font-family: 'Arial';
  color: white;
}

#container {
  display: flex;
  justify-content: row;
}

.bb-logo {
  margin: 10px;
  font-size: 3em;
  font-weight: 600;
}

#nav-container {
  display: flex;
  height: 100vh;
  width: 20%;
  margin-right: 5%;
  justify-content: space-between;
  flex-direction: column;
  /* border-right: 1px solid #088c6f; */
}

#body-container {
  width: 50%;
}

#bb, #nav-items, #nav-contact-items {
}

#bb {
  margin: 10px 30px;
  color: #cdcedc;
}

#nav-items {
  display: flex;
  flex: 1;
  align-items: flex-start;
  margin-top: 40px;
  text-transform: uppercase;
}

.nav-link {
  width: 100%;
  margin: 70px 30px;
  color: #088c6f;
  border-bottom: 2px solid #088c6f; /* 1DCD9F is brighter compliment to this */
}

#nav-contact-list {
  display: flex;
  justify-content: space-around;
  margin: 5px 30px;
  color: #333;
  font-weight: 600;
}

#front-panel {
  height: 100vh;
}

#front-headline {
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1.2em;
  height: 100%;
  font-size: 3em;
  font-weight: 600;
}

.headline-highlight {
  color: #1DcD9F;
  margin-left: 60px;
}

.headline-body {
  color: #cdcedc;
  margin-left: 120px;
}
